<div class="row row-cols-1 row-cols-md-5 g-4 mx-2">
  <div class="col">
    <div class="card h-100 custom-row">
      <img src="assets/straight.jpg" class="card-img-top" alt="straight" />
      <div class="card-body">
        <h5 class="card-title">Straight hair</h5>
        <p class="card-text">discription</p>
        <p>
          Price:<br />
          time:
        </p>
        <a routerLink="/booknow" class="btn btn-warning">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 custom-row">
      <img src="assets/straight.jpg" class="card-img-top" alt="straight" />
      <div class="card-body">
        <h5 class="card-title">Straight hair</h5>
        <p class="card-text">discription</p>
        <p>
          Price:<br />
          time:
        </p>
        <a routerLink="/hpsec" class="btn btn-warning">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 custom-row">
      <img src="assets/straight.jpg" class="card-img-top" alt="straight" />
      <div class="card-body">
        <h5 class="card-title">Straight hair</h5>
        <p class="card-text">discription</p>
        <p>
          Price:<br />
          time:
        </p>
        <a routerLink="/booknow" class="btn btn-warning">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 custom-row">
      <img src="assets/straight.jpg" class="card-img-top" alt="straight" />
      <div class="card-body">
        <h5 class="card-title">Straight hair</h5>
        <p class="card-text">discription</p>
        <p>
          Price:<br />
          time:
        </p>
        <a routerLink="/booknow" class="btn btn-warning">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 custom-row">
      <img src="assets/straight.jpg" class="card-img-top" alt="straight" />
      <div class="card-body">
        <h5 class="card-title">Straight hair</h5>
        <p class="card-text">discription</p>
        <p>
          Price:<br />
          time:
        </p>
        <a routerLink="/booknow" class="btn btn-warning">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 custom-row">
      <img
        src="assets/keratin treatment.jpg"
        class="card-img-top"
        alt="straight"
      />
      <div class="card-body">
        <h5 class="card-title">keratin treatment</h5>
        <p class="card-text">discription</p>
        <p>
          Price:<br />
          time:
        </p>
        <a routerLink="/booknow" class="btn btn-warning">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 custom-row">
      <img
        src="assets/keratin treatment.jpg"
        class="card-img-top"
        alt="straight"
      />
      <div class="card-body">
        <h5 class="card-title">keratin treatment</h5>
        <p class="card-text">discription</p>
        <p>
          Price:<br />
          time:
        </p>
        <a routerLink="/booknow" class="btn btn-warning">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 custom-row">
      <img
        src="assets/keratin treatment.jpg"
        class="card-img-top"
        alt="straight"
      />
      <div class="card-body">
        <h5 class="card-title">keratin treatment</h5>
        <p class="card-text">discription</p>
        <p>
          Price:<br />
          time:
        </p>
        <a routerLink="/booknow" class="btn btn-warning">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 custom-row">
      <img
        src="assets/keratin treatment.jpg"
        class="card-img-top"
        alt="straight"
      />
      <div class="card-body">
        <h5 class="card-title">keratin treatment</h5>
        <p class="card-text">discription</p>
        <p>
          Price:<br />
          time:
        </p>
        <a routerLink="/booknow" class="btn btn-warning">Book Now</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 custom-row">
      <img
        src="assets/keratin treatment.jpg"
        class="card-img-top"
        alt="straight"
      />
      <div class="card-body">
        <h5 class="card-title">keratin treatment</h5>
        <p class="card-text">discription</p>
        <p>
          Price:<br />
          time:
        </p>
        <a routerLink="/booknow" class="btn btn-warning">Book Now</a>
      </div>
    </div>
  </div>
</div>
