<div class="row">
  <div class="col-sm-2 mb-3 mb-sm-0">
    <div class="card custom-card">
      <div class="card-body">
        <app-selecttreatmen></app-selecttreatmen>
        <app-selecttreatmen></app-selecttreatmen>
        <app-selecttreatmen></app-selecttreatmen>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card half-half-card">
      <div class="card-body">
        <img src="assets/mensalon.jpg" alt="Men's Salon" />
        <img src="assets/womensalon.jpg" alt="Women's Salon" />
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card centered-icon-card">
            <div class="card-body text-center">
              <br />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-person-circle"
                viewBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                />
              </svg>
              <br />
              <br />
              <h2>Username</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
